<div class="container">
  <!-- Sidebar -->
  <%- include('../partials/_sidebar.ejs') %>
  <!-- End Sidebar -->

  <main class="main">
    <!-- Navbar -->
    <%- include('../partials/_navbar.ejs') %>
    <!-- End Navbar -->

    <!-- Courses -->
    <%- include('../partials/_courses.ejs') %>
    <!-- End Courses -->
  </main>
</div>
