<!-- ! add visible class to be visible ! -->
<div class="modal-container" id="add-new-course-modal">
  <div class="modal-content">
    <!-- ! Edit Course  ! -->
    <h1 class="modal-title">اضافه کردن دوره جدید</h1>
    <form action="" class="edit-user-form">
      <div class="input-field">
        <span><i class="fa fa-tag"></i></span>
        <input
          type="text"
          id=""
          name=""
          placeholder="نام دوره"
          spellcheck="false"
        />
      </div>
      <div class="input-field">
        <span><i class="fa fa-cash-register"></i></span>
        <input
          type="text"
          id=""
          name=""
          placeholder="قیمت دوره"
          spellcheck="false"
        />
      </div>
      <div class="input-field">
        <span><i class="fa fa-user"></i></span>
        <input
          type="text"
          id=""
          name=""
          placeholder="مدرس دوره"
          spellcheck="false"
        />
      </div>

      <button type="submit" class="update-btn btn">افزودن دوره</button>
    </form>
  </div>
</div>
