<!-- add discount to course modal-->
<!-- ! add visible class to be visible ! -->
<div class="modal-container" id="add-discounts-modal">
  <div class="modal-content">
    <!-- ! Edit Course  ! -->
    <h1 class="modal-title">اعمال تخفیف همگانی</h1>
    <form action="" class="edit-user-form">
      <div class="input-field">
        <span><i class="fa fa-tag"></i></span>
        <input
          type="text"
          id=""
          name=""
          class="discount-input"
          placeholder="میزان تخفیف (درصد)"
          spellcheck="false"
        />
      </div>

      <button type="submit" class="add-discount-btn update-btn btn">
        اعمال تخفیف
      </button>
    </form>
  </div>
</div>
