<!-- ! add visible class to be visible ! -->
<div class="modal-container" id="delete-modal">
  <!-- ! add visible class to be visible ! -->
  <form class="modal-content" method="POST" id="delete-course-form">
    <!-- ! Delete courses  ! -->
    <h1 class="modal-title">ایا از حذف دوره مطمئن هستید؟</h1>
    <div class="btn-groups">
      <button class="accept-btn">بله</button>
      <button class="unaccept-btn">خیر</button>
    </div>
  </form>
</div>
