<!-- ! add visible class to be visible ! -->
<div class="modal-container" id="edit-modal">
  <!-- ! add visible class to be visible ! -->
  <div class="modal-content">
    <!-- ! Edit Course  ! -->
    <h1 class="modal-title">اطلاعات جدید را وارد کنید</h1>
    <form id="edit-course-form" method="POST" class="edit-user-form">
      <div class="input-field">
        <span><i class="fa fa-tag"></i></span>
        <input type="text" name="title" id="edit-title" required />
      </div>

      <div class="input-field">
        <span><i class="fa fa-cash-register"></i></span>
        <input type="number" name="price" id="edit-price" required />
      </div>

      <div class="input-field">
        <span><i class="fa fa-user"></i></span>
        <input type="text" name="teacher" id="edit-teacher" required />
      </div>

      <button type="submit" class="update-btn btn">آپدیت دوره</button>
    </form>
  </div>
</div>
