<!-- delete modal -->
<div class="modal-container" id="delete-modal">
  <!-- ! add visible class to be visible ! -->
  <div class="modal-content">
    <!-- ! Delete courses  ! -->
    <h1 class="modal-title">ایا از حذف دوره مطمئن هستید؟</h1>
    <div class="btn-groups">
      <button class="accept-btn">بله</button>
      <button class="unaccept-btn">خیر</button>
    </div>
  </div>
</div>

<!-- edit modal -->
<div class="modal-container" id="edit-modal">
  <!-- ! add visible class to be visible ! -->
  <div class="modal-content">
    <!-- ! Edit Course  ! -->
    <h1 class="modal-title">اطلاعات جدید را وارد کنید</h1>
    <form action="" class="edit-user-form">
      <div class="input-field">
        <span><i class="fa fa-tag"></i></span>
        <input
          type="text"
          id=""
          name=""
          placeholder="نام دوره"
          spellcheck="false"
        />
      </div>
      <div class="input-field">
        <span><i class="fa fa-cash-register"></i></span>
        <input
          type="text"
          id=""
          name=""
          placeholder="قیمت دوره"
          spellcheck="false"
        />
      </div>
      <div class="input-field">
        <span><i class="fa fa-user"></i></span>
        <input
          type="text"
          id=""
          name=""
          placeholder="مدرس دوره"
          spellcheck="false"
        />
      </div>

      <button type="submit" class="update-btn btn">اپدیت دوره</button>
    </form>
  </div>
</div>

